@keyframes logoAnimation {
  0% {
    transform: scale(1.4) translateX(24px);
  }

  60% {
    transform: scale(0.4) translateX(444px);
  }

  80% {
    transform: scale(0.4) translateX(444px);
  }

  100% {
    transform: scale(0.4) translateX(13px);
  }
}

@keyframes textAppear {
  from {
    opacity: 0;
    transform: translateX(190px);
  }

  to {
    opacity: 1;
    transform: translateX(-17px);
  }
}

.animate-logo {
  animation: logoAnimation 5s ease forwards;
}

.animate-text {
  animation: textAppear 1.4s ease forwards;
  animation-delay: 4.8s;
}